
*{
    box-sizing: border-box;
 }


/* ======= Top Header ============== */

.header-container{
    height: 100px;
    width: 100%;
    background: pink;
    position: fixed;
    z-index: 100;

}

.wrap-first-line-header{
    height: 70px;
    width: 100%;
}

.wrap2logo-top{
    width: 50px;

}
.airbnb-logo{
    width: 45px;
    margin-top: 5px;
     
}

.wrap-arrow-logo{
    display: none;
}

.each-search-box2{
    display: none;
}


.searchbox-top-container{
    height: 40px;
    width: 450px;
    margin-top: 5px;
}

.airbnb-logo-searchbox-container{
    height: 55px;
    width: 510px;
    
}

.logo-in-serach-box{
    width: 20px;
}

.each-search-box a{
    text-decoration: none;
}

.each-search-box{
    height: 35px;
    width: 150px;
    display: inline-block;
    padding: 5px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #949799; 
}

.Sbox1{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Sbox3{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.logo-in-serach-box,
.icon-text{
    display: inline-block;
}

.icon-text a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:#5F6162;
}

   /* -- Right-top-navbar container -- */

.righttop-navbar-container{
    height: 40px;
    width: 360px;
}

.righttop-navbar-container li{
    list-style-type: none;
    display: inline;
    margin-right: 15px;
}


.righttop-navbar-container a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:#5F6162;
    font-size: .925em;
    font-weight: bold;
}

.righttop-navbar-container li a:hover:not(.active){
    border-bottom-color: #5F6162;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}


/* ======== second line header (Navbar) ======= */
.second-navbar-container{
    height: 30px;
    width: 100%;
    
    border-bottom-style: solid;
    border-bottom-color:#BABEC0;
    border-bottom-width: 1px;
    

}

.for-you a,
.therest-item-on-second-navbar a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:#5F6162;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: bold;


}

.therest-item-on-second-navbar a{
    margin-left: 10px;
    margin-right: 10px;
}

.for-you a {
    color:#0C776B;
}

.for-you{
    height: 30px;
    display: inline-block;
    border-bottom-style: solid;
    border-bottom-color:#0C776B;
    border-bottom-width: 3px;

}

/* ======== Main body ================================== */

.wrapbody-container{
    width: 95%;
    margin: 0 auto;
    
}


.topic-container{
    width: 95.5%;
    /* height: 50px; */
    /* margin-top: 50px; */
    background: lightcoral;
    padding-top: 130px;
    
}

.topic-detail-box{
    font-family: Arial, Helvetica, sans-serif;
    color:#5F6162;
    font-size: 1.5em;
    font-weight: bold;

}

.see-all-box a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:#5F6162;
    font-weight: bold;
    font-size: 1em;
    display: block;
    margin-top: 4px;

}

/* =====Experiences === */

.Experience-container{
    width: 100%;
    height: 400px;
    background: lightgoldenrodyellow;
}

.wrap-each-pic{
    width: 15%; /*6pcs*/
    height: 100%; 
    margin-right: 20px;
    background: lightblue;
    float: left;
}

.wrap-expics{
    width: 100%;
    height: 80%;
    background: pink;
}

.exp-pics{
    width: 100%;
    height: 100%;
}

.review{
    width: 100%;
    height: 20%;
    background: lightsalmon;
}


.star{
    width: 70px;
    margin-top: 8px;
}


.text-underpic-box a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:#5F6162;
    font-size: 1em;
    background: #EAD1E1;
    width:100%;
    height: 35px;
}

.wrapstar-review a{
    text-decoration: none;
    color:#404142;
    font-size: 0.9em;
    display: inline-block;
    padding-bottom: 5px;

}
.wrapstar-review{
    background: #42E085;
}



/* =====Homes === */

.topic-container2{
    width: 95.5%;
    height: 50px;
    margin-top: 50px;
    background: lightblue;
    /* padding-top: 130px; */
    
}

.Homes-container{
    width: 100%;
    height: 280px;
    background: lightseagreen;
}

.container-each-pic-homes{
    width: 23%; 
    height: 100%; 
    background: lightgoldenrodyellow;
    float: left;
    margin-right: 15px;
}

.wrap-expicsH{
    width: 100%;
    height: 80%;
    background:lightgray;
}

.exp-pics{
    width: 100%;
    height: 100%;
}

.reviewH{
    width: 100%;
    height: 20%;
    background: lightpink;
}

.text-underpic-boxH a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:#5F6162;
    font-size: 1em;
    background: #EAD1E1;
    width:100%;
    height: 35px;

}

.wrapstar-reviewH a{
    text-decoration: none;
    color:#404142;
    font-size: 0.9em;
    display: inline-block;
    padding-bottom: 5px;
   
}
.wrapstar-reviewH{
    background: #669EEC;
}

/* Right-Arrow-Homes */

.wrap-pic4-homes{
    position: relative;
}

.right-arrow-container-home{
    position: absolute;
        top: 100px;
        left: 310px;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 100%;
    z-index: 10px;
    
}

.right-arrow{
    width: 20px;
    height: 25px;
    margin-left: 10px;
    margin-top: 8px;
    
}



/* =====footer === */
.footer{
    width: 100%;
    height: 500px;
    background: #AFF4D9;

    margin-top: 150px;
    border-top-style: solid;
    border-top-color: #C9CBCF;
    border-top-width: 1px;
}

.footer-maincontent-container{
    width: 100%;
    height: 350px;
    background: lightgoldenrodyellow;
    margin-top: 40px;
}

.footer-content-box1{
    width: 200px;
    height: 250px;
    background: pink;
    margin-left: 50px;
}

.currency-box,
.language-box{
    position: relative;
    width: 100%;
    height: 60px;
    background: lightblue;
    border: 1px solid #B9BBC1;
    border-radius: 5px;
    
  
}

.currency-box a,
.language-box a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:#66686E;
    margin-top: 15px;
    margin-left: 15px;
    display: inline-block;
    font-size: 20px;

}

   /* language & currency dropdown detail */

.currency-detail-box,
.language-detail-box{
    width: 200px;
    height: 420px;
    background: #D4D2EA;
    color: #8C9090;
    font-size: 20px;
    padding-left: 12px;
    display: none;
    position: absolute;
    top: -420px;
    line-height: 140%;
    overflow: scroll;
    border-left: solid 1px #116568;
    border-top: solid 1px #116568;
}

.currency-detail-box{
    text-transform: uppercase;
}


.currency-box:hover .currency-detail-box,
.language-box:hover .language-detail-box{
    display: block;
    cursor: default;
}

    /* ======================== */






.arrow-down-footer-box{
    width: 30px;
    height: 30px;
    background: lightgray;
    float: right;
    margin-right: 20px;
}

.img-arrow-down-footer{
    width: 30px;
    height: 30px;
    
}

