
.searchbox-top-container,
.airbnb-logo-searchbox-container,
.wrap-first-line-header,
.topic-container,
.topic-container2,
.footer-maincontent-container,
.bottom-box2,
.bottom-container{
    display: flex;
}



.wrap-first-line-header,
.topic-container,
.topic-container2,
.airbnb-logo-searchbox-container,
.footer-maincontent-container,
.bottom-box2,
.bottom-container{
   justify-content: space-between
}



.second-navbar-container{
    display: flex;
    flex-wrap: wrap;
}




/* ====== Media Queries ======== */

@media (max-width: 1450px){
    .right-arrow-container-home{
        position: absolute;
        left: 290px;
       
        
    }
    
}

@media (max-width: 1400px){
    .expic6{
        display: none;
    }

    .wrap-each-pic{
        width: 18%; /*5pcs*/
       
    }

      /* == footer == */

    .wrapfooter-container{
        width: 80%;

    }



}

@media (max-width: 1380px){
    .right-arrow-container-home{
        position: absolute;
        left: 270px;
       
    }
    
}


@media (max-width: 1360px){
    .container-homes-pic4{
        display: none;
    }
    .container-each-pic-homes{
        width: 30.3%;
    }

    .wrap-homes-pic3{
        position: relative;
    }

    .right-arrow-container-home-pic3{
        position: absolute;
            top: 100px;
            left: 360px;
        width: 40px;
        height: 40px;
        background: white;
        border-radius: 100%;
        z-index: 10px;      
    }

}

@media (max-width: 1300px){
    .right-arrow-container-home-pic3{
        position: absolute;
        left: 340px;
      
    }
}

@media (max-width: 1230px){
    .right-arrow-container-home-pic3{
        position: absolute;
        left: 320px;
      
    }
}


@media (max-width: 1190px){
    .expic5{
        display: none;
    }

    .wrap-each-pic{
        width: 23%; /*4pcs*/
       
    }
}

@media (max-width: 1150px){
    .right-arrow-container-home-pic3{
        position: absolute;
        left: 300px;
      
    }
}

@media (max-width: 1090px){
    .right-arrow-container-home-pic3{
        left: 280px;
      
    }
}


@media (max-width: 1070px){
    .expic4{
        display: none;
    }

    .wrap-each-pic{
        width: 29.3%; /*3pcs*/
       
    }

      /* ==footer== */

    .wrapfooter-container{
        width: 90%;

    }


}

@media (max-width: 1030px){

    .right-arrow-container-home-pic3{
        left: 260px;
      
    }

    .text-underpic-boxH a{
        font-size: 0.8em;
    }
    
}

@media (max-width: 950px){
    .container-eachpic-homes-pic3{
        display: none;
    }
    .Homes-container{
        height: 260px;
    }

    .container-each-pic-homes{
        width: 45%; 
    }

    .star{
        width: 50px;
    }

      /* ==footer== */

      .wrapfooter-container{
        width: 95%;

    }

    
}


@media (max-width: 926px){

    .expic3{
        display: none;
    }

    .wrap-each-pic{
        width: 45%; /*3pcs*/
       
    }

    .Experience-container{
        width: 100%;
        height: 370px;
        background: lightgoldenrodyellow;
    }


    .righttop-navbar-container  {
        display: none;
    }

    .wrap2logo-top{
        width: 80px;
    
    }

    .airbnb-logo-searchbox-container{
        width: 530px;
        margin: auto;
    }


    .wrap-arrow-logo{
        width: 25px;
        display: inline-block;
        /* background:grey; */
    }
        
    .arrow-logo{
        width: 20px;
        margin-bottom: 10px;
    }


   /* ====Arrow dropdown Content ============  */


    .H1-detail-container a,
    .H2-detail-container a,
    .the-rest-detail-container a{
        text-decoration: none;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        color:#5F6162;
        font-size: 20px;
        
    }

    .the-rest-detail-container a{
        margin-top: 30px;
    }

    .wrap-arrow-logo{
        position: relative;
    }

    .arrow-dropdown-container{
        display: none;
        position: absolute;
         top: 25px;
        
        border-radius: 10px;
        height: 600px;
        background: white;
        z-index: 2;
    }

    .wrap-arrow-logo:hover .arrow-dropdown-container{
        display: block;
    }
    .arrow-dropdown-container,
    .H1-detail-containe,
    .H2-detail-container{
        width: 350px;

    }


    .H1-detail-container{
        
        height: 85px;
        /* background: pink; */
        border-bottom-style: solid;
        border-bottom-color: #5F6162;
        border-bottom-width: 1px;

    }
    .H1-detail-container a,
    .H2-detail-container a{
        padding-top: 35px;
    }

    .H2-detail-container{
       
        height: 80px;
        margin-top: 30px;
        border-top-style: solid;
        border-top-color: #5F6162;
        border-top-width: 1px;
    }
}

@media (max-width: 650px){
    /* ==footer== */

    .F-the-rest-box{
        display: none;
    }

    .footer-content-box1{
        width: 400px;
        margin: auto;
    }

    .language-box,
    .currency-box{
        width: 200px;
        float: left;
    }

    .footer-content-box1,
    .footer-maincontent-container{
        height: 70px;
    }
}


@media (max-width: 555px){
    .Experience-container{
        height: 270px;
    }

    .text-underpic-box a{
        font-size: 0.75em;
    }


    .searchbox-top-container{
        display: none;
    }

    .searchbox-top-container2{
        height: 40px;
        width: 300px;
        background: lightblue;
        margin-top: 5px;
    }

    .airbnb-logo-searchbox-container{
    
        width: 380px;
        
    }

    .each-search-box2{
        height: 35px;
        width: 300px;
        display: inline-block;
        background: lightgoldenrodyellow;
        padding: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #949799; 
    }


    .icon-text2{
        margin-right: 12px;
    }

}

@media (max-width: 565px){
    .container-each-pic-homes-pic2{
        display: none;
    }
    .Homes-container{
        width: 90%;
        height: 250px;
    }

    .container-each-pic-homes{
        width: 90%; 
    }

    .container-each-pic-homes{
        margin-left: 30px;
    }

    .text-underpic-boxH a{
        font-size: 1em;
    }
    
    .wrapstar-reviewH a{
        font-size: 1em;
    }
    
    .star{
        width: 70px;
    }

    .wrap-expicsH{
        width: 100%;
        height: 75%;
        background:lightgray;
    }

    .reviewH{
        width: 100%;
        height: 25%;
        background: lightpink;
    }

}

@media (max-width: 445px){
    .Experience-container{
        height: 250px;
    }

    .expic2{
        display: none;
    }

    .wrap-each-pic{
        width: 80%; 
        margin-left: 30px;
        
    }
    .text-underpic-box a{
        font-size: 0.9em;
    }

    .text-underpic-boxH a{
        font-size: .8em;
    }
    
    .wrapstar-reviewH a{
        font-size: 0.7em;
       
    }
    
    .star{
        width: 50px;
    }

}